<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://apolloniainaugust.files.wordpress.com/2015/09/the-godfather-book2.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="price">12$</div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>